.section-advertising {
  background-color: black;
  padding: 5px 0;
  color: white;
  font-family: "Rubik", sans-serif;
}
form{
  .buscar{
  margin-left: 1vw;
  border-radius: 0rem;
  border: 1px solid #000000;
  height: 5vh;
  background-color: transparent;
 }
}

.divLogo {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 400px;
    height: auto;
    margin-right: 7vw;
  }
}
